@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1b1a18;
    --foreground: #ededed;
  }
}

html {
  font-size: 50%;

  @media (max-width: 360px) {
    font-size: 45%;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

  font-size: 1.6rem;
}

.container {
  width: 100rem;
  margin: 0 auto;
}

li {
  color: #b6aeaa;
  font-size: 1.8rem;
  cursor: pointer;
}

li:hover {
  color: #fff;
}

.icons {
  color: #ccc;
  display: inline-flex; /* important */
  align-items: center;
  justify-content: center;

  width: 2.4rem;
  height: 2.4rem;
}

.icons:hover {
  color: #fff;
}
